{% extends "_layouts/default.njk" %} {% block body %}
<div class="content">
  <strong>{{ user.name }} </strong>
  <p>Verifique aqui os usuários que marcaram um horário:</p>
  <ul class="providers">
    {% for appointment in appointments %}
    <li class="provider">
      <div>
        <img src="/files/{{ appointment.user.avatar }}" />
        <strong
          >{{ appointment.user.name }} <br />
          {{ appointment.date | date("DD/MM/YYYY, HH:mm") }}</strong
        >
      </div>
    </li>
    {% endfor%}
  </ul>

  <a href="/app/logout" class="logout">Sair</a>
</div>
{% endblock %}
